


<div style="align-items: center; justify-content: center; display: flex;">

    <h2>Integrations</h2>
    </div>
    
    <br>
    
    <h3>En esta página añado un enlace a la vista donde tengo tengo las integraciones y los widgets de mi app</h3>
    
    
    <br>
    
    <div style="align-items: center; justify-content: center; display: flex;">
    
    
        <a routerLink="/champs/charts"><img src="./assets/integrations.png" alt="Imagen" style="max-width: 400px; max-height: 400px;">
        </a>
        
        </div>